<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">  <!--_method=PUT, this is method-Override. it treat it as put request.  -->
        <div class="field">
            <lable>Title</lable>            
            <input type="text" name="blog[title]" value="<%= blog.title %>">
        <div class="field">
            <lable>Image</lable>            
            <input type="text" name="blog[image]" value="<%= blog.image %>">
        </div>
        <div class="field">
            <lable>Blog Content</lable>            
            <textarea name="blog[body] "><%= blog.body %></textarea>
        </div>
        <input class="ui violet big inverted button" type="submit" >
    </form>
</div>
<% include ./partials/footer %>
